.hero2{
    margin-top: 144px;
}
.hero2__h3{
font-family: 'Fraunces 9pt';
font-style: normal;
font-weight: 900;
font-size: 32px;
line-height: 48px;
color: #333D4B;
}
.hero2__p{
font-family: 'Barlow';
font-style: normal;
font-weight: 400;
font-size: 20px;
line-height: 25px;
color: #333D4B;
mix-blend-mode: normal;
opacity: 0.8;
}
.hero2__matn{
width: 539px;
height: 653px;
padding-right: 100px;
}
.hero2__info{
    display: flex;
    justify-content: space-between;
}
.hero2__img{
    border-radius: 10px;
    padding-left: 100px;
}